body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.header__title {
  font-size: 2.5rem;
  color: #1a73e8;
  margin-bottom: 20px;
}

.intro {
  text-align: center;
  margin-bottom: 20px;
}
.intro__description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.intro__image {
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button__cta {
  background-color: rgb(21.1928571429, 103.2, 211.0071428571);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button__cta:hover {
  background-color: rgb(21.1928571429, 103.2, 211.0071428571);
}
